@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.py-20 { padding-top: 5rem; padding-bottom: 5rem; }
.bg-white { background-color: $white; }

.bg-slate-50 {
  @include transition(all 0.3s ease);
  &:hover {
    border-color: #25D366;
    box-shadow: 0 20px 25px -5px rgba(37, 211, 102, 0.1), 0 10px 10px -5px rgba(37, 211, 102, 0.04);
  }
}
